{% extends 'father.html' %}

{% load static %}

{% block titleBlock %}

<title>Inicio</title>

{% endblock titleBlock %}

{% block randomBlock %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'assets/img/Banner-ferreteria.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">                        
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->

                    <div class="post-preview">                        
                        <img src= "{% static 'assets/img/herramientas.jpg' %}" width="300" height="300"> 
                        <a href="{% url 'listaProductos' %}">
                            <h2 class="post-title">Nuestros Productos</h2>                            
                        </a>
                        <div>
                            Con el propósito de responder a las solicitudes de nuestros clientes,<br>
                            ampliamos constantemente nuestro catálogo de productos.
                        </div>                        
                    </div>                  
                </div>
            </div>
        </div>
{% endblock randomBlock %}